@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Mondwest', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Mondwest';
  src: url('/Mondwest-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #FF4500;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6B33;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FF4500 #282828;
}
